// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.navbar {
  background: rgb(4,0,79);
  background: linear-gradient(90deg, rgba(4,0,79,1) 0%, rgba(9,63,121,1) 31%, rgba(0,212,255,1) 71%);
  color: white;
}

body {
  padding-top: 50px;
}

.App {
  text-align: center;
}

#login {
  background-image: image_url("login.jpg");
  background-size: cover;
}

.wrap-input {
  margin-top: 30px;
  margin-bottom: 50px;
  text-align:center;
  padding-bottom:2px;
}

.wrap-input{
  margin-top: 30px;
  margin-bottom: 50px;
  text-align:center;
  padding-bottom:2px;
  background: /* gradient can be an image */
          linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(3,29,184,1) 28%, rgba(0,174,255,1) 100%)
          left
          bottom
          rgb(2,0,36)
          no-repeat;
  background-size:100% 5px ;
}

input {
  outline: 0;
  border-width: 0
}

.main {
  background-image: image_url("main.png");
  background-size: cover;
  min-height: 94.5vh;
}

.back {
  background-image: image_url("main.png");
  background-size: cover;
  margin: 0; height: 100%; overflow: hidden;
  min-height: 94.4vh;
}

.navbar-nav .nav-link {
  padding-top: 0;
  padding-bottom: 0;
  height: 50px;
  line-height: 50px;
}

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
  background: rgb(4,0,79);
  background: linear-gradient(180deg, rgba(4,0,79,1) 0%, rgba(9,63,121,1) 31%, rgba(0,212,255,1) 71%);
  color: white;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

.btn-dismiss {
  background-color: #bfbfbf !important;
}

.btn-dismiss:hover {
  background-color: #929191 !important;
}

.toast-header {
  background-image: image_url("main.png");
  background-size: cover;
  color: white !important;
}
.tooltip > .tooltip-inner {
  font-size: 22px;
  background: #2048d2;
}